<div class="head2">Монитор</div>
<div class="nav_cont">
<table class="gtable">
<thead>
<tr>
	<th><div>Набор</div></th>
	<th><div>Скрипт</div></th>
	<th><div>Шаг</div></th>
	<th colspan="4"><div>Функция</div></th>
	<th colspan="5"><div>E</div></th>
	<th colspan="5"><div>N</div></th>
	<th colspan="5"><div>P</div></th>
</tr>
</thead>
 <tbody>
<tr>
<td class="suite"><div>partial_vkr</div></td>
<td class="script"><div>pv_0100_0100</div></td>
<td class="step"><div>56</div></td>
<td class="func"><div>Ручной ввод ЗКР</div></td>

<td class="func">ЗПП</td>
<td class="func">3132</td>
<td class="func">W_CHECK_ЗПП01</td>

<td class="branch_e">S</td>
<td class="branch_e">L</td>
<td class="branch_e">te01</td>
<td class="branch_e">09.11.2013</td>
<td class="branch_e">016.002.000T02</td>

<td class="branch_n">S</td>
<td class="branch_n">L</td>
<td class="branch_n">te01</td>
<td class="branch_n">09.11.2013</td>
<td class="branch_n">016.002.000T02</td>

<td class="branch_p">S</td>
<td class="branch_p">L</td>
<td class="branch_p">te01</td>
<td class="branch_p">09.11.2013</td>
<td class="branch_p">016.002.000T02</td>
</tr>

<tr>
<td class="suite"><div>partial_vkr</div></td>
<td class="script"><div>pv_0100_0100</div></td>
<td class="step"><div>56</div></td>
<td class="func"><div>Ручной ввод ЗКР</div></td>

<td class="func">ЗПП</td>
<td class="func">3132</td>
<td class="func">W_CHECK_ЗПП01</td>

<td class="branch_e">S</td>
<td class="branch_e">L</td>
<td class="branch_e">te01</td>
<td class="branch_e">09.11.2013</td>
<td class="branch_e">016.002.000T02</td>

<td class="branch_n">S</td>
<td class="branch_n">L</td>
<td class="branch_n">te01</td>
<td class="branch_n">09.11.2013</td>
<td class="branch_n">016.002.000T02</td>

<td class="branch_p">S</td>
<td class="branch_p">L</td>
<td class="branch_p">te01</td>
<td class="branch_p">09.11.2013</td>
<td class="branch_p">016.002.000T02</td>
</tr>
<tr>
<td class="suite"><div>partial_vkr</div></td>
<td class="script"><div>pv_0100_0100</div></td>
<td class="step"><div>56</div></td>
<td class="func"><div>Ручной ввод ЗКР</div></td>

<td class="func">ЗПП</td>
<td class="func">3132</td>
<td class="func">W_CHECK_ЗПП01</td>

<td class="branch_e">S</td>
<td class="branch_e">L</td>
<td class="branch_e">te01</td>
<td class="branch_e">09.11.2013</td>
<td class="branch_e">016.002.000T02</td>

<td class="branch_n">S</td>
<td class="branch_n">L</td>
<td class="branch_n">te01</td>
<td class="branch_n">09.11.2013</td>
<td class="branch_n">016.002.000T02</td>

<td class="branch_p">S</td>
<td class="branch_p">L</td>
<td class="branch_p">te01</td>
<td class="branch_p">09.11.2013</td>
<td class="branch_p">016.002.000T02</td>
</tr>
<tr>
<td class="suite"><div>partial_vkr</div></td>
<td class="script"><div>pv_0100_0100</div></td>
<td class="step"><div>56</div></td>
<td class="func"><div>Ручной ввод ЗКР</div></td>

<td class="func">ЗПП</td>
<td class="func">3132</td>
<td class="func">W_CHECK_ЗПП01</td>

<td class="branch_e">S</td>
<td class="branch_e">L</td>
<td class="branch_e">te01</td>
<td class="branch_e">09.11.2013</td>
<td class="branch_e">016.002.000T02</td>

<td class="branch_n">S</td>
<td class="branch_n">L</td>
<td class="branch_n">te01</td>
<td class="branch_n">09.11.2013</td>
<td class="branch_n">016.002.000T02</td>

<td class="branch_p">S</td>
<td class="branch_p">L</td>
<td class="branch_p">te01</td>
<td class="branch_p">09.11.2013</td>
<td class="branch_p">016.002.000T02</td>
</tr>
<tr>
<td class="suite"><div>partial_vkr</div></td>
<td class="script"><div>pv_0100_0100</div></td>
<td class="step"><div>56</div></td>
<td class="func"><div>Ручной ввод ЗКР</div></td>

<td class="func">ЗПП</td>
<td class="func">3132</td>
<td class="func">W_CHECK_ЗПП01</td>

<td class="branch_e">S</td>
<td class="branch_e">L</td>
<td class="branch_e">te01</td>
<td class="branch_e">09.11.2013</td>
<td class="branch_e">016.002.000T02</td>

<td class="branch_n">S</td>
<td class="branch_n">L</td>
<td class="branch_n">te01</td>
<td class="branch_n">09.11.2013</td>
<td class="branch_n">016.002.000T02</td>

<td class="branch_p">S</td>
<td class="branch_p">L</td>
<td class="branch_p">te01</td>
<td class="branch_p">09.11.2013</td>
<td class="branch_p">016.002.000T02</td>
</tr>
<tbody>
</table>
</div>